/*icon set 24x24*/
.icon_edit_24 {background: url(../images/icons/24/edit.png) no-repeat left;}
.icon_order_add_24 {background: url(../images/icons/24/order_add.png) no-repeat left;}
.icon_task_add_24 {background: url(../images/icons/24/task_add.png) no-repeat left;}
