<div id="overlay" style="display: none;"></div>
<div id="dialog" style="display: none;">
  <div id="dialog_header"><span style="display: block; width: 100%; float: left" ><a class="b f14">Диалог</a>
      <%= content_tag :span, "Закрыть", :style => "float: right;",
        :class => "linkclose",
        :onclick => "dialog.hide();"
      %>
  </div>
  <div class="clear"></div> 
  <div id="dialog_body">
    <table class="grid">
<thead>
  <th>Логин</th>
  <th>Имя</th>
  <th>Комментарий</th>
  <th>Email</th>
  <th>Телефон</th>

  <th>Телефон, моб.</th>
  <th>Юр. лицо</th>
</thead>
<tbody>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

<tr class="odd">
  <td>client1</td>
  <td>client1</td>
  <td>client1</td>

  <td>client1@mail.com</td>
  <td>555-55-55</td>
  <td></td>
  <td></td>
</tr>

<tr class="even">
  <td>client2</td>
  <td>client2</td>

  <td>client2</td>
  <td>client2@mail.com</td>
  <td>555-55-54</td>
  <td></td>
  <td></td>
</tr>

<tr class="odd">
  <td>newclient</td>

  <td>newclient</td>
  <td>новый клиент</td>
  <td>newclient@mail.com</td>
  <td>55-55-33</td>
  <td></td>
  <td></td>

</tr>

</tbody>
</table>







  </div>
</div>