<fieldset>
	<legend>Вход в систему</legend>
	<% form_tag do %>
		<p>
			<label>Логин:</label><br />
			<%= text_field_tag :login, params[:login] %>
		</p>
		<p>
			<label>Пароль:</label><br />
			<%= password_field_tag :password %>
		</p>
		<p>
			<%= submit_tag 'Войти' %>
		</p>
	<% end %>
</fieldset>
